# 🔹 PyCharm / IntelliJ
.idea/
*.iml

# 🔹 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# 🔹 Entornos virtuales
venv/
env/
.venv/

# 🔹 Archivos de sistema
.DS_Store
Thumbs.db

# 🔹 Archivos comprimidos
*.zip

# 🔹 Archivos JSON temporales (si aplica)
*.log
